@font-face {
    font-family: Rocket;
    src: url('../font/rocket.ttf');
}

@font-face {
    font-family: Stapel;
    src: url('../font/SFProDisplay-Regular.ttf');
}

.rocket,
button,
.btn {
    font-family: 'Rocket';
}

.stapel,
a,
p {
    font-family: 'Stapel';
}

@media screen and (max-width: 768px) {
    .pc {
        visibility: hidden;
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .mobile {
        visibility: hidden;
        display: none;
    }
}

.nav-item {
    margin-left: 2.5em;
}

.btn {
    border-radius: 5px;
}

.oneline {
    display: table;
}

.onelinen {
    display: table-cell;
    vertical-align: middle;
}

.oneline img {
    margin-right: 1em;
}