footer.container.py-5
    div.row
        div.col-lg-4
            h5.rocket Продукты
            ul.list-unstyled.text-small
                li
                    a.text-muted(href="uslugi.html#aviabilety") Авиабилеты
                li
                    a.text-muted(href="uslugi.html#rzd") ЖД билеты
                li
                    a.text-muted(href="uslugi.html#transfer") Трансферы
                li
                    a.text-muted(href="uslugi.html#tours") Туры и путевки
                li
                    a.text-muted(href="uslugi.html#corp") Корпоративным клиентам
        div.col-lg-4
            h5.rocket Информация
            ul.list-unstyled.text-small
                li
                    a(href="doc/" download)
                        h5.rocket Пользовательское соглашение
                li
                    a(href="doc/typed.docx" download)
                        h5.rocket Типовой договор
                li
                    a(href="doc/typez.docx" download)
                        h5.rocket Типовая заявка
                li
                    a(href="doc/sbor.jpg" download)
                        h5.rocket Сервисные сборы
                li
                    a(href="https://yandex.ru/maps/-/CCUeYDvMsA")
                        h5.rocket Мы на карте
                li
                    a(href="about.html")
                        h5.rocket О нас
        div.col-lg-4
            h5.rocket +7 (4852) 32-94-88
            ul.list-unstyled.text-small
                li
                    a(href="about.html")
                        h5.rocket +7 (4852) 72-82-20
                li
                    a(href="about.html")
                        h5.rocket info@avia76.ru
                li
                    a.text-muted(href="") Россия, 150000, г. Ярославль, ул. Свободы, дом 20
                li
                    a.text-muted(href="") Компания Авианик, 1993 - 2021, тыры пыры
                li
                    img(src="img/icons/fb.png" width="36" style="margin-right: 0.1em;")
                    img(src="img/icons/vk.png" width="36" style="margin-right: 0.1em;")
                    img(src="img/icons/gmail.png" width="33" style="margin-right: 0.1em;")
footer.container
    p.float-right
        a#gotop(href="#") Наверх
    p &copy; designed by 
        a(href="https://vk.com/mihailovily") mihailovily