nav
  div.mobile.container
    div.col-sm-2
      h1.blue.noOtstup авианик
    div.col-sm-1(style='margin-top: 10px;')
      a.black(href="index.html") Продукты
    div.col-sm-1(style='margin-top: 10px;')
      a.black(href="index.html") Продукты
    div.col-sm-1(style='margin-top: 10px;')
      a.black(href="index.html") Продукты
