meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
meta(name="Description" content="Купить дешёвые авиабилеты, железнодорожные билеты и трансферы до аэропорта удобнее всего в авиакассе Авианик на ул.Свободы,20")
meta(name="author" content="mihailovily")
meta(name="Keywords" content="авиакассы кассы авианик авиабилеты железнодорожные билеты дешевые льготные субсидированные аэрофлот аэропорт трансфер купить впд бронирование гостиниц ярославль свободы агентство официальный")
link(rel="icon" href="favicon.ico")
title Авианик
link(href="css/carousel.css" rel="stylesheet")
link(href="css/bootstrap.css" rel="stylesheet")
link(href="css/main.css" rel="stylesheet")
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
script(src="js/script.js")