extends base.pug
block content
  div.container
    div.col-sm-4(style='margin-top: 8em;')
        h1.zagolovok Продаем билеты <br> более четверти века
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent cursus venenatis libero, eget feugiat orci tristique non. Cras rutrum augue quis ex luctus, a sodales risus
        div.otstup(type="button" class="btn btn-default buttonblue" style="margin-right: 1em;")
          a.btnbluetext(href=proj) узнать больше
        div.otstup(type="button" class="btn btn-default buttongray")
          a.btnwhitetext(href=proj) узнать больше
    div.col-sm-4
    div.col-sm-4(style='margin-top: 5em;')
        img.normal(src='img/1.png')
    div.col-sm-12
    div.col-sm-1
    div.col-sm-4(style='margin-top: 5em;')
        img.normal(src='img/2.png')
    div.col-sm-2
    div.col-sm-4(style='margin-top: 8em;')
        h1.zagolovok Особые условия для корпоративных клиентов
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent cursus venenatis libero, eget feugiat orci tristique non. Cras rutrum augue quis ex luctus, a sodales risus
        div.otstup(type="button" class="btn btn-default buttonblue" style="margin-right: 1em;")
          a.btnbluetext(href=proj) узнать больше
        div.otstup(type="button" class="btn btn-default buttongray")
          a.btnwhitetext(href=proj) узнать больше
    div.col-sm-12
      
    
        
